{{> header}}
{{> navbar}}
<center><h1>Fransisco de Goya </h1></center>  <hr> 

  <center><h4>Biografia</h4></center>
   <p>Francisco de Goya nació en el año 1746, en Fuendetodos, localidad de la provincia española de Zaragoza, hijo de un dorador de origen vasco, José, y de una labriega hidalga llamada Gracia Lucientes. Avecinada la familia en la capital zaragozana, entró el joven Francisco a aprender el oficio de pintor en el taller del rutinario José Luzán, donde estuvo cuatro años copiando estampas hasta que se decidió a establecerse por su cuenta y, según escribió más tarde él mismo, "pintar de mi invención".</p>
   <p>A medida que fueron transcurriendo los años de su longeva vida, este "pintar de mi invención" se hizo más verdadero y más acentuado, pues sin desatender los bien remunerados encargos que le permitieron una existencia desahogada, Goya dibujó e hizo imprimir series de imágenes insólitas y caprichosas, cuyo sentido último, a menudo ambiguo, corresponde a una fantasía personalísima y a un compromiso ideológico, afín a los principios de la Ilustración, que fueron motores de una incansable sátira de las costumbres de su tiempo. Pero antes de su viaje a Italia en 1771, el arte de Goya es balbuciente y tan poco académico que no obtiene ningún respaldo ni éxito alguno; incluso fracasó estrepitosamente en los dos concursos convocados por la Academia de San Fernando en 1763 y 1769. Las composiciones de sus pinturas se inspiraban, a través de los grabados que tenía a su alcance, en viejos maestros como Simon Vouet, Carlo Maratta o Correggio, pero a su vuelta de Roma, escala obligada para el aprendizaje de todo artista, sufrirá una interesantísima evolución ya presente en el fresco del Pilar de Zaragoza titulado La gloria del nombre de Dios.</p>
    <p>Todavía en esta primera etapa, Goya se ocupa más de las francachelas nocturnas en las tascas madrileñas y de las majas resabidas y descaradas que de cuidar de su reputación profesional, y apenas pinta algunos encargos que le vienen de sus amigos los Bayeu. De los tres hermanos pintores (Ramón, Manuel y Francisco Bayeu), el último, que era doce años mayor que él, fue su inseparable compañero y protector. También hermana de éstos era Josefa, con la que contrajo matrimonio en Madrid en junio de 1773, año decisivo en la vida del pintor porque en él se inaugura un nuevo período de mayor solidez y originalidad.</p>
    <p>Por esas mismas fechas pinta el primer autorretrato que le conocemos, y no faltan historiadores del arte que supongan que lo realizó con ocasión de sus bodas. En él aparece como lo que siempre fue: un hombre tozudo, desafiante y sensual. El cuidadoso peinado de las largas guedejas negras indica coquetería; la frente despejada, su clara inteligencia; sus ojos oscuros y profundos, una determinación y una valentía inauditas; los labios gordezuelos, una afición sin hipocresía por los placeres voluptuosos; y todo ello enmarcado en un rostro redondo, grande, de abultada nariz y visible papada.</p>

<img src="/images/goya1.png">
<img src="/images/goya2.png">
<img src="/images/goya3.png">
<img src="/images/goya4.png">
<img src="/images/goya5.png">
{{> footer}}