{{> header}}
{{> navbar}}
  <center><h1>Algunos de mis pintores favoritos</h1></center> <hr>
  <center>  <h2>Pablo Picasso</h2> <br> <br>
  <center> <h2>Magdalena Carmen Frida Kahlo</h2></center> <br> <br>
  <center> <h2>Leonardo da Vinci</h2></center> <br> <br>
  <center><h2>Fransisco de Goya</h2></center> <br> <br>
  <center><h2>Diego Rodríguez de Silva y Velázquez</h2> </center> <br> <br>

</main>
{{> footer}}